<h1 class="title">Weather</h1>

<main class="content">
  <table class="table table-bordered">
    <%= render 'theader' %>
    <tbody>
      <% @weathers.each do |weather| %>
        <tr class="main-value">
          <td><%= Time.now.strftime("%B %e, %Y") %></td>
          <td><%= weather.fetch('name') %></td>
          <td><%= weather.dig('main', 'temp') %> °C</td>
          <td><%= weather.dig('wind', 'speed') %> m/s</td>
          <td><%= weather.dig('main', 'humidity') %> %</td>
          <td><%= weather.dig('weather', 0, 'description') %></td>
          <td><%= image_tag('http://openweathermap.org/img/wn/' + weather.dig('weather', 0, 'icon') + '@2x.png') %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</main>
